<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of Users</title>
</head>
<body>
<h2 th:text="'List of users'">Users List</h2>

<table class="table" border="1" cellpadding="10">
    <thead>
    <tr>
        <th style="width: 200px;">Id</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.firstName}">First Name</td>
        <td th:text="${user.lastName}">Last Name</td>
        <td>
            <a th:href="'/user/edit/' + ${user.id}">Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="'/user/delete/' + ${user.id}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/user/create">Create a user</a>
</body>
</html>